<div class="content">
<% @current_user = @users.find(session[:user_id])  %>
<%= render 'admin_page/head' %>
<div class="title">
<h2>Добавление нового пользователя</h2>
</div>
<div class="user_block">
<%= form_for :user, url: {action: "add_user"}, html: {id: "add_user_form"} do |f|%>
    <h2>Введите данные:</h2>
    <%= label_tag("Введите ФИО") %><br>
    <%= f.text_field(:fio) %><br>
    <%= label_tag("Введите Логин") %><br>
    <%= f.text_field(:login) %><br>
    <%= label_tag("Введите Пароль") %><br>
    <%= f.password_field(:password) %><br>
    <%= f.submit("ДОБАВИТЬ", id: "submit") %>
<% end %>
</div>
</div>

