<div class="content">
<div class="head">
    <%= link_to image_tag("back.png", :border => 0), "#", onclick: "history.back(1)", id: "back" %>
    <%= link_to image_tag("logo.png", :border => 0), home_path, :method => :delete, id: "logo" %>
    <%= link_to image_tag("logout.png", :border => 0), logout_path, :method => :delete, id: "logout" %>
</div>
<div class="title">
<h2>Добавление нового упражнения:</h2>
</div>
<div class="add_task_block">
<%= form_for :task, url: {action: "add_task"}, html: {id: "add_task_form"} do |f|%>
    <h2><%= label_tag("Введите Название:") %></h2>
    <%= f.text_field(:title) %><br>
    <p><%= f.label :category, "*Введите Категорию:" %></p>
    <%= f.text_field :category, list: "category" %><br>
    <datalist id="category">
        <% Task.all.each do |task|
            if (task.category.length > 0) %>
                <option value="<%= task.category %>"></option>
            <% end %>
        <% end %>
    </datalist>
    <p><%= f.label :subcategory, "*Введите Подкатегорию:" %></p>
    <%= f.text_field :subcategory, list: "subcategory" %><br>
    <datalist id="subcategory">
        <% Task.all.each do |task|
            if (task.subcategory.length > 0) %>
                <option value="<%= task.subcategory %>"></option>
            <% end %>
        <% end %>
    </datalist>
    <%= f.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= tinymce :mode => "textareas",:theme => "modern", :language => "ru" %>
    <%= f.submit("ДОБАВИТЬ", id: "submit") %>
<% end %>   
</div>
</div>

