<div class="content">
<%= render 'admin_page/head' %>
<div class="title">
<h2>Добавление нового упражнения:</h2>
</div>
<div class="add_task_block">
<%= form_for :task, url: {action: "add_task"}, html: {id: "add_task_form"} do |f| %>
    <h2><%= label_tag("Введите Название:") %></h2>
    <%= f.text_field(:title) %><br>
    <%= f.label :category, "*Введите Категорию:" %><br>
    <%= f.text_field :category, list: "category", autocomplete: "off" %><br>
    <datalist id="category">
        <% a = Array.new() 
        Task.all.each do |task|
            if( !a.include?(task.category) ) %>
                <option value="<%= task.category %>"></option>    
            <% a.push(task.category)
            end %>
        <% end %>
    </datalist>
    <%= f.label :subcategory, "*Введите Подкатегорию:" %><br>
    <%= f.text_field :subcategory, list: "subcategory", autocomplete: "off" %><br>
    <datalist id="subcategory">
        <% b = Array.new() 
        Task.all.each do |task|
            if( !b.include?(task.subcategory) ) %>
                <option value="<%= task.subcategory %>"></option>    
            <% b.push(task.subcategory)
            end %>
        <% end %>
    </datalist>
    <%= f.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
    <%= tinymce :mode => "textareas",:theme => "modern", :language => "ru" %>
    <%= f.submit("ДОБАВИТЬ", id: "submit") %>
<% end %>   
</div>
</div>

