<div class="content">
<%= render 'admin_page/head' %>
<div class="add">
    <%= link_to image_tag("add.png", :border => 0), add_lesson_view_path, id: "add_user" %>
</div>
<div class="task_block">
<h2>Список занятий:</h2>
<% @lessons.each { |value| %>
<%= form_tag url_for(controller: "admin_page", action: "lesson", id: value.id), method: "get", id: "form_id" do %>
<div class="task" id="task">
    <% if(value.title) %>
        <% if value.title.size > 70 %>
            <p class="task_title"><%= value.title[0,70] %>...</p>
        <% else %>
            <p class="task_title"><%= value.title %></p>
        <% end %>
    <% end %>
</div>         
<% end %>
<% } %>
</div>
</div>