<div class="content">
<%= render 'admin_page/head' %>
<input type="checkbox" id="add_for_user" class="add_user_hide"/>
<label for="add_for_user" >Добавить это занятие клиенту</label>
<%= form_for :user_lesson, url: {action: "add_lesson_for_user", id: @lesson_id}, html: {id: "add_lesson_for_user_form"} do |f| %>
    <%= f.text_field :user_id, list: "users", autocomplete: "off" %><br>
    <datalist id="users">
        <% @users.each { |value| %>
            <% if(value.permission != "admin") %>
                <option label='<%= value.fio %>' value='<%= value.id %>'></option>
            <% end %>
        <% } %>
    </datalist>
    <%= f.submit("ДОБАВИТЬ", id: "submit") %>
<% end %>
<div class="task_block">
<h2>Список упражнений:</h2>
<% @tasks.each { |value| %>
<%= form_tag url_for(controller: "admin_page", action: "task", id: value.id), method: "get", id: "form_id" do %>
<div class="task" id="task">
    <% if(value.title) %>
        <% if value.title.size > 100 %>
            <p class="task_title"><%= value.title[0,100] %>...</p>
        <% else %>
            <p class="task_title"><%= value.title %></p>
        <% end %>
    <% end %>
</div>         
<% end %>
<% } %>
</div>