<div class="content">
<%= render 'admin_page/head' %>
<div class="add">
    <%= link_to image_tag("add.png", :border => 0), add_task_view_path, id: "add_task" %>
</div>
<div class="task_block">
<h2>Выберите подкатегорию:</h2>
<div class="caption">
    <p class="fio">Название</p>
    <p class="date">Дата</p>
</div>
<%
b = Array.new() 
@tasks.each { |value| 
    if( !b.include?(value.subcategory) ) %>
        <%= form_tag url_for(controller: "admin_page", action: "all_tasks", category: value.category, subcategory: value.subcategory), method: "get", id: "form_id" do %>
        <div class="task" id="task">
            <% if value.subcategory.size > 35 %>
                <p class="task_title"><%= value.subcategory[0,35] %>...</p>
            <% else %>
                <p class="task_title"><%= value.subcategory %></p>
            <% end %>
            <p class="task_date"><%= Russian::strftime(value.created_at, "%d %B %Y") %></p>
        </div>         
        <% end 
        b.push(value.subcategory)
    end 
} %>
</div>
</div>