<div class="content">
<%= render 'admin_page/head' %>
<div class="add">
    <%= link_to image_tag("add.png", :border => 0), add_task_view_path, id: "add_task" %>
</div>
<div class="task_block">
<h2>Выберите подкатегорию:</h2>
<%
b = Array.new() 
@tasks.each { |value| 
    if( !b.include?(value.subcategory) ) %>
        <%= form_tag url_for(controller: "admin_page", action: "all_tasks", category: value.category, subcategory: value.subcategory), method: "get", id: "form_id" do %>
        <div class="task" id="task">
            <% if value.subcategory.size > 100 %>
                <p class="task_title"><%= value.subcategory[0,100] %>...</p>
            <% else %>
                <p class="task_title"><%= value.subcategory %></p>
            <% end %>
        </div>         
        <% end 
        b.push(value.subcategory)
    end 
} %>
</div>
</div>