<div class="content">
<%= render 'admin_page/head' %>
<div class="title">
<h2>ФИО: <%= @current_user.fio %>&nbsp;;&nbsp;&nbsp;&nbsp;Логин: <%= @current_user.login %>&nbsp;;&nbsp;&nbsp;&nbsp;Пароль: <%= @current_user.password %>&nbsp;;</h2>
</div>
<div class="user_block">
<% if (@user_lesson.size > 0) %>
<div class="task_block">
<h2>Список занятий:</h2>
<% @user_lesson.each { |value| 
@lesson = Lesson.find(value.lesson_id) %>
<%= form_tag url_for(controller: "admin_page", action: "lesson", id: @lesson.id), method: "get", id: "form_id" do %>
<div class="task" id="task">
    <% if (@lesson.title) %>
        <% if (@lesson.title.length > 100) %>
            <p class="task_title"><%= @lesson.title[0,100] %>...</p>
        <% else %>
            <p class="task_title"><%= @lesson.title %></p>
        <% end %>
    <% end %>
</div>         
<% end %>
<% } %>
</div>
<% else %>
<h3>УПС... На этом месте должны быть занятие, но пока что тут ничего нет =( </h3>
<% end %>
</div>