<div class="content">
<div class="head">
    <%= link_to image_tag("back.png", :border => 0), "#", onclick: "history.back(1)", id: "back" %>
    <%= link_to image_tag("logo.png", :border => 0), home_path, :method => :delete, id: "logo" %>
    <%= link_to image_tag("logout.png", :border => 0), logout_path, :method => :delete, id: "logout" %>
</div>
<div class="title">
<h2><%= @current_lesson.title %>:</h2>
</div>
<% @current_lesson.each { |value| @task.find(value) %>
    <%= form_tag url_for(controller: "client_page", action: "task", id: @task.id), method: "get", id: "form_id" do %>
    <div class="task" id="task">
        <% if @task.title.size > 40 %>
            <p class="task_title"><%= @task.title[0,40] %>...</p>
        <% else %>
            <p class="task_title"><%= @task.title %></p>
        <% end %>
        <p class="task_date"><%= Russian::strftime(@task.created_at, "%d %B %Y") %></p>
    </div>         
<% } %>
</div>
