<% if session[:user_id] 
@user = @users.find(session[:user_id]) %>
<div class="content">
<div class="head">
    <%= link_to image_tag("back.png", :border => 0), "#", onclick: "history.back(1)", id: "back" %>
    <%= link_to image_tag("logo.png", :border => 0), home_path, :method => :delete, id: "logo_back" %>
    <%= link_to image_tag("logout.png", :border => 0), logout_path, :method => :delete, id: "logout" %>
</div>
<div class="title">
<h2>Здравствуйте, <%= @user.fio %>!</h2>
</div>
<div class="task_block">
<h2><%= @current_task.title %>:</h2>
<p><%= @current_task.text %></p>
</div>
</div>
<% else %>
<% end %>
