<!DOCTYPE html>
<html>
  <head>
    <title>Logoped</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| -%>
      <a href="" class="modalDialog"><%= content_tag :div, msg, class: name %></a>
    <% end %>
    <%= yield %>
  </body>
</html>
